<app-menu></app-menu>
<div class="about">
  <div class="exposed-text">
    bla<span>ž</span>
  </div>
  
  <div class="row">
    <div class="text">
      Hey.
      <br>
      <br>
      I’m Blaz, creative who swapped beautiful Slovenian mountains for dutch flat land and canals of Amsterdam. Before working in advertising I wondered into the world of photography, videography and product development in start-ups. 
      <br>
      I’m a devoted Pringles cans collector, Lego lover and frequent user of 🤙 emoji. 
      <br>
      <br>
      Co-Founder @Speedmoji Inc. 
      <br>
      Co-Founder @S-Park
    </div>

    <div class="experiences">
      <div>Product Design</div>
      <div class="bold">@InovaIT</div>
      <br>
      
      <div>Product Design</div>
      <div class="bold">@PovioLabs</div>
      <br>

      <div>Creative Internship</div>
      <div class="bold">@Iris London</div>
      <br>

      <div>Creative Internship</div>
      <div class="bold">@18feet and Rising London</div>
      <br>

      <div>Creative Internship</div>
      <div class="bold">@VCCP London</div>
      <br>

      <div>Creative</div>
      <div class="bold">@Anomaly Amsterdam</div>
      <br>
    </div>
  </div>
</div>